{{- if .Values.wordpress.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-wordpress
  labels:
    app: {{ .Release.Name }}-wordpress
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.wordpress.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-wordpress
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-wordpress
    spec:
      containers:
      - name: wordpress
        image: "{{ .Values.wordpress.image.repository }}:{{ .Values.wordpress.image.tag }}"
        imagePullPolicy: {{ .Values.wordpress.image.pullPolicy }}
        env:
        - name: WORDPRESS_DB_HOST
          value: {{ .Values.wordpress.env.WORDPRESS_DB_HOST | quote }}
        - name: WORDPRESS_DB_USER
          value: {{ .Values.wordpress.env.WORDPRESS_DB_USER | quote }}
        - name: WORDPRESS_DB_PASSWORD
          value: {{ .Values.wordpress.env.WORDPRESS_DB_PASSWORD | quote }}
        - name: WORDPRESS_DB_NAME
          value: {{ .Values.wordpress.env.WORDPRESS_DB_NAME | quote }}
        ports:
        - containerPort: 80
          name: http
        volumeMounts:
        - name: wordpress-data
          mountPath: /var/www/html
        resources:
{{ toYaml .Values.wordpress.resources | indent 10 }}
      volumes:
      - name: wordpress-data
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-pvc
{{- end }}
